{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": "eslint:recommended",
  "rules": {
    "eol-last": 1,
    "no-unused-vars": 1,
    "indent": [1, 2],
    "quotes": [1, "double"],
    "no-var": 1,
    "arrow-spacing": 1,
    "arrow-parens": 1,
    "prefer-const": 1,
    "react/jsx-uses-react": 1
  },
  "globals": {
    "BROWSER": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
}
